# Please add your keys here.
# Press 'i' to start editing.
# Press the 'esc' key and type ':wq' and press 'enter' to save the .env file.

# Organization
ORG=Tyk Technologies
SLUG=tyk

# User
EMAIL=demo@tyk.io
FIRST=Demo
LAST=User
PASSWORD=topsecretpassword

# Tyk Pro
TYK_LICENSE_KEY=

## Analytics

# Datadog
DATADOG_API_KEY=
